/* css for dentalKing.in
   developed by         : rakesh kumar
   website              : https://binarynote.com

*/

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 180%;
  word-spacing: 110%;
  color: #666;
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  font-size: 200%;
}
h2 {
  font-size: 160%;
}
h3 {
  font-size: 140%;
}
h4 {
  font-size: 120%;
}
i {
  margin-right: 10px;
}
/*-------------theme wide css----------*/
.strong {
  font-weight: 700;
}

.responsive {
  width: 100%;
  height: auto;
}

.button {
  padding: 10px 12px;
  /* background: rgb(156, 156, 156); */
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease;
}
.button:hover {
  padding: 10px 18px;
  transition: all 0.5s ease;
}

.black{background:rgb(156, 156, 156);}
.green{background:rgb(113, 136, 53);}
.orange{background:rgb(255, 165, 0);}

.return-top{
        position:fixed;
        right:50px;        
        bottom:150px;
        widows: 60px;
        height:30px;
        padding:10px;
        text-decoration: none;
        background:#000;color:#fff
}
/*-----------end of theme wide css ---------*/

.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 1300px;
  justify-content: space-between;
}
.container-1 {
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.container-normal {
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}

#header {
  height: 70px;
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1000;
}

.logo {
  margin: 0 auto;
  flex: 1;
}
.menu {
  flex: 4;
  line-height: 70px;
}
.menu ul {
  margin-top: 0px;
  float: right;
}
.menu ul li {
  display: inline-block;
  line-height: 70px;
}
.menu ul li a {
  text-decoration: none;
  padding: 0 10px;
}
.menu ul li a:hover {
  border-bottom: 2px solid orange;
  transition: all 0.7s ease;
}
/*-------------slider---------------*/
#slider {
  padding-top: 70px;
}

.email,
.phone,
.appointment {
  flex: 1;
}
.email,
.appointment {
  background: #dfe6e9;
  text-align: center;
}
.appointment a {
  text-decoration: none;
}
.phone {
  background: #b2bec3;
  text-align: center;
}

/*--------services-----------*/
#services {
  padding: 40px 0;
}
.service {
  padding: 20px;
  flex-basis: 30%;
  text-align: center;
}

.service p,
.service a {
  padding: 10px 0px;
}

.service a {
  margin-bottom: 10px;
  text-decoration: none;
}

/*------about the doctor -----------*/
#about,
#team {
  padding: 60px 0 60px;
  background: #f2f2f2;
  margin-bottom: -6px;
}

.image {
  flex: 1;
}
.image img {
  margin-bottom: -55px;
  text-align: left;
  float: left;
}
.information {
  flex: 2;
  padding: 0 0 0 30px;
}

/*-------------Team- Doctors-------------*/
#team {
  background: #fff;
}
.doctor {
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  transform: scale(1);
  transition: 0.5s ease;
  cursor: pointer;
}
.doctor img {
  border-radius: 10px;
}
.doctor:hover {
  transform: scale(1.01);
  box-shadow: 1px 2px 8px #9c9c9c;
  transition: 0.5s ease;
}
.doctor h4 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: none;
  color: #444;
}

/*----testimonials----------*/
#testimonial {
  background: url("../images/tt.png") #b2bec3;
  background-attachment: fixed;
  /* background: rgb(109, 103, 92); */
  padding: 80px 0;
}

#testimonial p {
  font-size: 120%;
}

.container-normal h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
#testimonial p {
  padding: 20px;
  margin-bottom: 0;
  color: #fff;
}

#testimonial img {
  margin: 0 auto;
}

.company {
  flex-basis: 18%;
  padding: 30px;
}

#case-studies {
  background-image: url("..images/slider-3.jpg");
  background-attachment: fixed;
  padding: 60px 0 80px;
  background: #f4f6f7;
}

.case {
  flex-basis: 48%;
}

#footer {
  background: linear-gradient(rgb(113, 136, 53),rgb(115, 116, 53));
  padding: 40px 0 60px;
}
.widget {
  flex-basis: 32%;
  color: #e7e7e7;
}
.widget a {
  text-decoration: none;
  color: #f2f2f2;
}

.widget ul {
  list-style-type: none;
  margin-left: -40px;
}

.widget h3 {
  color:rgb(255, 255, 52);
  text-shadow:1px 1px 2px #444; padding-bottom:20px;
  position:relative;
}
.widget h3:after{
  content:'';
  position:absolute;
  left:0;
  top:40px;
  height:1px;
  width:10%;
  background:rgb(255, 255, 52);
}
#copyright {
  background: #222;
  color: #999;
  text-align: center;
}
#copyright a {
  color: #999;
  text-decoration: none;
}
#copyright p {
  text-align: center;
  margin: 0;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .container,
  .container-1 {
    flex-direction: column;
  }
  .doctor {
    flex-basis: 50%;
  }
}
